.editor-container {
  min-height: 80vh;
}

section {
  overflow: visible !important;
}

.ngx-json-viewer {
  overflow: visible !important;
}

section.ngx-json-viewer {
  overflow: visible !important;
}
